html body {
  width: 100%;
  margin: 0;
  padding: 0;
}
#slider {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
#slider ul {
  list-style: none;
  margin:0;
  padding: 0;
}
#slider ul li {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  overflow: hidden;
  
  transition: 2s;
}
.slide {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: 2s;
}
img {
  width: 100%;
}
