html body {
  width: 50%;
  margin: 0;
  padding: 0;
}
#slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
#slider ul {
  list-style: none;
  margin:0;
  padding: 0;
}
#slider ul li {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  overflow: hidden;
  transition: 2s;
  z-index: 10
}
.start-right {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transition: 2s;
  z-index: -10 !important;
}
.slide-left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: 2s;
  z-index: -10;
}
img {
  width: 100%;
}
